.auth.register {
  form {
    .holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      label:not(.icon-holder) {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border: 2px dashed var(--secondary-neutral-color);
        color: #a1887f;
        align-self: center;
        border-radius: 10px;
        cursor: pointer;
        .icon {
          font-size: 48px;
          color: var(--secondary-color);
        }
      }
      .info-inp {
        width: 48%;
      }
      .info-inp.file-inp {
        width: 100%;
      }
      input[type="file"] {
        display: none;
      }
    }
  }
}
@media (max-width: 991px) {
  .auth.register {
    gap: 40px;
    .intro {
      min-height: 262px;
    }
    form {
      .holder {
        .info-inp {
          width: 100%;
        }
      }
    }
  }
}
