.auth.register {
  form {
    .holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      input:not(.main-btn) {
        width: 48%;
      }
      label {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border: 2px dashed var(--secondary-neutral-color);
        color: #a1887f;
        align-self: center;
        border-radius: 10px;
        cursor: pointer;
        .icon {
          font-size: 48px;
          color: var(--secondary-color);
        }
      }
      input[type="file"] {
        display: none;
      }
    }
  }
}
