.items .card {
  background-color: transparent;
}
.items .main-btn {
  width: 150px;
  text-decoration: none;
}
.items .main-btn:hover {
  transform: scale(1);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.items .cards {
  margin-right: -20px;
}
.items .cards .pagenation-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 24px;
  button {
    border: none;
    background-color: transparent;
  }
  button.next {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  button.next.disabled {
    cursor: not-allowed;
    background-color: transparent !important;
    color: #ccc;
  }
  button.active {
    border-bottom: 1px solid;
  }
  button.pageNum:not(.active) {
    /* color: var(--secondary-neutral-color); */
    color: #888;
    transition: var(--main-trans);
  }
  button.pageNum:not(.active):hover {
    color: var(--main-text-color);
  }
}
/* dark */
.page.dark {
  .items .cards .pagenation-btns {
    button.next {
      color: var(--main-text-dark-color);
    }
    button.next.disabled {
      color: var(--placeholder-dark-color);
    }
    button.active {
      color: var(--main-text-dark-color);
      border-bottom: 1px solid var(--main-text-dark-color);
    }
    button.pageNum:not(.active) {
      transition: var(--main-trans);
      color: var(--placeholder-dark-color);
    }
    button.pageNum:not(.active):hover {
      color: var(--main-text-dark-color);
    }
  }
}
